{% extends 'rieltor/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content  %}

<div class="center-container">
    <section class="map">
        <div>
            <iframe src="https://yandex.com/map-widget/v1/?ll=36.498272%2C45.303110&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNDQ0NTMzMDg1EkrQo9C60YDQsNGX0L3QsCwg0JDQstGC0L7QvdC-0LzQvdCwINCg0LXRgdC_0YPQsdC70ZbQutCwINCa0YDQuNC8LCDQmtC10YDRhyIKDZneEUIVxWw1Qg%2C%2C&z=12.27"
                    width="100%" height="250" frameborder="0" allowfullscreen="true" style="border: none;"></iframe>
        </div>
    </section>
    <section class="info-phone">
        <div>
        
            {% if company_info %}
            <p class="text-contact"><strong style="color: #068e45;">Риелтор:</strong> {{ company_info.name }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong style="color: #068e45;">Телефон:</strong> {{ company_info.phone }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong style="color: #068e45;">Email:</strong> {{ company_info.email }}</p>
        
            {% if company_info.whatsup %}
            <p>
                <strong class="text-contact2">
                    ДЛЯ БЫСТРОЙ СВЯЗИ ПИШИТЕ В ЧАТ <b class="whatsapp"> &nbsp; WhatsApp </b>
                </strong>
                <div id="menu-buttons">
                    <button >
                        <a class="button-whatsapp" href="{{ company_info.whatsup }}" target="_blank">Перейти в чат</a>
                    </button>
                </div>
            </p>
            {% endif %}
            {% else %}
            <p>Информация о компании не доступна.</p>
            {% endif %}
        </div>
    </section>
</div>






{% endblock %}