{% extends 'rieltor/base.html' %}
{% load static %}
{% block title %}Услуги{% endblock %}

{% block content %}
 <section>
        <div class="all_services">
            <div>
                <a href="/gallery/">
                    <img src="{% static 'images/podbor.jpg' %}" alt="Подбор недвижимости">
                </a>
            </div>
            <div>
                <a href="/contacts/">
                    <img src="{% static 'images/ipoteka.jpg' %}" alt="Ипотека">
                </a>
            </div>
            <div>
                <a href="/contacts/">
                    <img src="{% static 'images/zakon.jpg' %}" alt="Закон">
                </a>
            </div>
        </div>

 </section>
 <section>
    <div class="all_services">
        <div>
            <a href="/gallery/">
                <img src="{% static 'images/prodatb.jpg' %}" alt="Продажа недвижимости">
            </a>
        </div>
        <div>
            <a href="/gallery/">
                <img src="{% static 'images/arenda.jpg' %}" alt="Аренда">
            </a>
        </div>
        <div>
            <a href="/contacts/">
                <img src="{% static 'images/trade.jpg' %}" alt="Трейд-Ин">
            </a>
        </div>
    </div>

</section>


{% endblock %}