{% extends 'rieltor/base.html' %}


{% block title %}Объекты недвижимости{% endblock %}

{% block content  %}
<section class="property-list">
    <div class="property-item">
        <h3>Квартира в центре города</h3>
        <img src="path/to/image1.jpg" alt="Квартира в центре города">
        <p>Описание квартиры...</p>
    </div>
    <div class="property-item">
        <h3>Дом на окраине города</h3>
        <img src="path/to/image2.jpg" alt="Дом на окраине города">
        <p>Описание дома...</p>
    </div>
</section>
{% endblock %}