{% extends 'rieltor/base.html' %}
{% load static %}


{% block title %}Главная{% endblock %}
{% block description %}Услуги риелтора, покупка и продажа недвижимости{% endblock %}
{% block keywords %}главная, риелтор, недвижимость, керчь, симферополь, купить квартиру{% endblock %}

{% block content %}
<section class="image-text-container">
    <!-- Картинка для больших экранов -->
    <img src="{% static 'images/mama2.jpg' %}" alt="Описание изображения" class="image image-large">
    
    <!-- Картинка для маленьких экранов -->
    <img src="{% static 'images/mama3.jpg' %}" alt="Описание изображения" class="image image-small">
    
    <div class="text-container">
        <p class="text text-first">МЕНЯ ЗОВУТ ЕЛЕНА</p>
        <p class="text text-second">Я — профессиональный риелтор с более чем 20-летним опытом работы в сфере недвижимости. <br>
            <br>
            За эти годы я помогла многим людям найти идеальный дом, квартиру или коммерческую недвижимость <br><br> 
            Моя цель — обеспечить каждому клиенту персональный подход и максимальную безопасность на всех этапах сделки.</p>
    </div>
</section>
{% endblock %}
