{% extends 'rieltor/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Недвижимость{% endblock %}

{% block content  %}

<section class="what">
    <div class="all-services-container">
        {% for property in properties %}
        <section class="property-item">
            <div class="all_services_nedvij">
                <a class="nedvij" href="{% url 'property_detail' property.pk %}">
                    {% if property.image %}
                    <img src="{{ property.image.url }}" alt="{{ property.adress }}">
                    {% endif %}
                </a>
            </div>
            
            <section class="property-info">
                <h3>{{ property.adress }}</h3>
                <p><b>Цена:</b> {{ property.price|intcomma }}₽</p>
                <p><b>Город:</b> {{ property.city }}</p>
            </section>
        </section>
        {% endfor %}
    </div>
</section>



<section class="text-contact3">
    <form class="text-contact3" method="get">
    {{ form.as_p }}
    <button type="submit">Поиск</button>
    </form>



<!-- Пагинация -->
<div>
    <span>
        {% if properties.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ properties.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ properties.number }} из {{ properties.paginator.num_pages }}.
        </span>

        {% if properties.has_next %}
            <a href="?page={{ properties.next_page_number }}">Следующая</a>
            <a href="?page={{ properties.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
</section>


{% endblock %}